*{
    margin:0;
    padding:0;
}
.container{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;       
}
.content{
background-color: rgb(233, 255, 255);
box-shadow: 2px 2px 5px 8px;
padding-left: 10%;
}
.btn{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 22%;
    height: 50%;
    color: white;
    background-color: brown;
    font-weight: bold;
    font-size: 25px;

}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-right: 20px;
    
}